# Ignore NetBeans-specific folders
nbproject/
build/
dist/
nbbuild/
nbdist/
.netbeans/

# Ignore compiled files and outputs
*.class
*.jar
*.war
*.ear
*.log

# Ignore backups and swap files
*~
*.bak
*.swp

# If using Maven
/target/
